<h2 id="checkInTitle" class="subtitle">
  Busstidatabell till skolan
</h2>
<p id="checkIn">
  Detta projekt var en tävling mellan hela klassen. Vi blev indelade i olika
  grupper där vi alla skulle skapa ett system som sedan rektorn skulle få välja
  vem som vinner. Systemet läser huvudsakligen från en API för att komma åt
  tiderna men den har också ett system för att funka offline. Vi skapade ett
  system som använder sig utav en django backend och angular som frontend. Detta
  system var utvecklat för att funka på en raspberry pi.
</p>

{ "id": "checkInTitle", "content": ["Check-in system for the school"] }, { "id":
"checkIn", "content": [ "This project was made in a group where we divided us
into a frontend and backend team.", "The goal was to take a 'Zebra EPL1 Label
Printer' and make it work with a Raspberry Pi and the end goal was to make it
print nametags for the visitors.", "The program was also made to send a mail to
the school administrator with the information the visitor put in.", "The backend
part was written in django while the frontend part and printer integration was
written in JavaScript." ] },
