body {
  font-family: "Sweden Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.navbar-menu {
  display: block !important;
  box-shadow: none !important;
  padding: 0px;
}

.flags {
  margin: 8px 8px 0px 8px;
  height: 30px;
  width: 40px;
}

.marginVisit {
  margin-bottom: 16px;
}

h1 {
  letter-spacing: 4px;
}

.about {
  animation-delay: 50ms !important;
}

.para1 {
  animation-delay: 100ms !important;
}

.para2 {
  animation-delay: 150ms !important;
}

.cv1 {
  animation-delay: 200ms !important;
}

.exp {
  animation-delay: 250ms !important;
}

.concreter {
  animation-delay: 300ms !important;
}

.volunteer {
  animation-delay: 350ms !important;
}

.programming {
  animation-delay: 400ms !important;
}

.adobeTitle {
  animation-delay: 450ms !important;
}

.afterEffect {
  animation-delay: 500ms !important;
}

.dreamweaver {
  animation-delay: 550ms !important;
}

.illustrator {
  animation-delay: 600ms !important;
}

.photoshop {
  animation-delay: 650ms !important;
}

.premiere {
  animation-delay: 700ms !important;
}

.XD {
  animation-delay: 750ms !important;
}

.extra {
  animation-delay: 800ms !important;
}
.education {
  animation-delay: 850ms !important;
}
.cardTitle {
  animation-delay: 900ms !important;
}
.card {
  animation-delay: 950ms !important;
}

#lang:hover {
  cursor: pointer;
}

.portfolio-max-width {
  max-width: 800px !important;
  margin: auto;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fill {
  cx: 15;
  cy: 15;
  r: 10;
  stroke: #666666;
  fill: #666666;
}

.fill.animate {
  animation: animate 2s ease;
}

.fill2 {
  cx: 15;
  cy: 15;
  r: 10;
  stroke: #555555;
  fill: #555555;
}

.fill2.animate {
  animation: animate 3s ease;
}

.fill3 {
  cx: 15;
  cy: 15;
  r: 10;
  stroke: #444444;
  fill: #444444;
}

.fill3.animate {
  animation: animate 4s ease;
}

.fill4 {
  cx: 15;
  cy: 15;
  r: 10;
  stroke: #333333;
  fill: #333333;
}

.fill4.animate {
  animation: animate 5s ease;
}

.fill5 {
  cx: 15;
  cy: 15;
  r: 10;
  stroke: #222222;
  fill: #222222;
}

.fill5.animate {
  animation: animate 6s ease;
}

.stroke {
  cx: 15;
  cy: 15;
  r: 10;
  stroke: #666666;
  stroke-width: 2;
  fill: none;
}

.stroke.animate {
  animation: animate 13s ease;
}

.stroke2 {
  cx: 15;
  cy: 15;
  r: 10;
  stroke: #666666;
  stroke-width: 2;
  fill: none;
}

.stroke2.animate {
  animation: animate 13s ease;
}

@media only screen and (min-device-width: 1025px) {
  #languageBtn {
    display: none;
  }
}
